.footer {
  background: linear-gradient(to bottom, #a4a2a2 100%, transparent 20%);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem;
  margin-top: auto; /* Importante para fixar no rodapé */
  height: 35px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5px;
}
