.tabelaMes {
  border-radius: 10px;
  border: 1px solid #fff;

  background: rgba(23, 23, 23, 0.5);
  width: 650px;
  height: 20px;
  flex-shrink: 0;
  margin: 0 auto;
}

.titulo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  color: #fff;

  text-align: center;
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 10rem;
}

.inputMes {
  display: block;
  margin-right: -17.5rem;
  background: rgba(23, 23, 23, 0.5);
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;

  padding: 2rem 2rem;
}

.nomeM {
  color: #fff;

  text-align: center;
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
