.containerRelatorio {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #363d4d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.topo {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  height: 60px;
}

.menuInicial {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente (opcional) */
  gap: 0.625rem; /* 10px convertido para rem */
  width: 100%; /* Ocupa toda a largura disponível */

  margin-left: -20rem;
  margin-right: 2rem;
}

.menuButtonDesativado {
  padding: 10px 30px; /* Aumentei o padding horizontal */
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
  min-width: 150px; /* Largura mínima para uniformidade */
  text-align: center;

  text-decoration: none; /* Remove sublinhado */
  display: inline-block;

  border-radius: 10px;
  border: 3px solid #fff;

  background: #b2eb00;

  color: #000;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.menuButtonPrincipal {
  padding: 10px 30px; /* Aumentei o padding horizontal */
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
  min-width: 150px; /* Largura mínima para uniformidade */
  text-align: center;

  text-decoration: none; /* Remove sublinhado */
  display: inline-block;

  border-radius: 10px;

  border: 3px solid #b2eb00;

  background: #fff;

  color: #000;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.menuButtonDesativado:hover {
  border-radius: 10px;
  border: 3px solid #fff;
  background: #a4a0a0;
}

.relatorio {
  width: 509px;
  height: 127px;
  flex-shrink: 0;

  padding: 6rem 6rem;
}

.tabela {
  border-collapse: collapse;

  background: rgba(23, 23, 23, 0.5);
  color: white;
  font-size: 20px;
  border-radius: 1px solid #fff;
  overflow: hidden;
  min-width: 250px;
}

.tabela td {
  border: 1px solid white;
  padding: 16px 32px;
  text-align: center;
}

.divisor {
  width: 119rem;
  height: 1px;
  background-color: #fff;
  margin-bottom: 10rem;
  margin-top: 5rem;
  margin-left: -6rem;
}
